@import '/styles/header.scss';
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300;400;500;600;700;800&display=swap');
@import '/styles/accueil.scss';
@import '/styles/login.scss';
@import '/styles/admin.scss';
@import '/styles/dashboard.scss';
@import '/styles/loading.scss';
@import '/styles/profile.scss';
body{
    margin: 0;
    font-family: 'Sora', sans-serif;
}

p{
    font-size: 20px;
    margin: 0;
}
.mobile{
    display: none;
}
@media screen and (max-width: 1000px) {
    .mobile{
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        background-color: white;
        z-index: 999;
        text-align: center;
    }
}