.paylaod_profile{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    width: 50%;
    padding: 2rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    border-radius: 15px;
    background: #e3e3e3;
    box-shadow: 16px 16px 32px #c8c8c8,
        -16px -16px 32px #fefefe;
}

.container_pseudo_profile{
    display: flex;
    gap: 2rem;
}

.container_change_password{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 45px;
    width: 100%;
    height: 200px;
}

@media screen and (max-width: 550px) {
    .paylaod_profile{
        width: 80%;
    }
}